body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
}

.container {
    background-color: rgb(77, 76, 76);
    color: rgb(184, 184, 184);
    margin: auto;
    border-radius: 16px;
}
.container a:link {
    color: pink;
}
.container a:visited {
    color: rgb(168, 125, 149);
}
.container a:hover {
    color: rgb(238, 117, 212);
}

fieldset {
    max-width: 750px;
    margin: auto;
}
